:root {
    --body-font: "Roboto", Arial, Helvetica, sans-serif;
}

.slide {
    overflow-y: auto;
    margin: 8px 32px 64px;
    width: 100%;
    max-width: 1080px;

    align-self: center;
}

h1, h2, h3, p, img {
    padding: 0px 16px;
}

p {
    font-weight: 400;
    line-height: 175%;
}

::-webkit-scrollbar {
    margin-left: 48px;
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade_in {
    animation: fade 1.5s;
}