.slide {
    overflow-y: auto;
    margin: 8px 32px 64px;
    width: 100%;
    max-width: 1080px;
    align-self: center;
}

h1, h2, h3, p, img {
    padding: 0px 16px;
}

li {
    margin-left: 16px;
    padding-bottom: 6pt;
}

h1 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
}

h3 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
}

p {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 175%;
}

p.note::before {
    content: "Please note: ";
    display: block;
    font-weight: 600;
    margin-left: -18px;
    line-height: 250%;
}

p.note {
    background: #eee;
    padding: 16px 36px 24px 36px;
    line-height: 125%;
    margin: 32px;
    width: auto;
    border-left: 3px solid black;
}

img.full{
    width: calc(100% - 32px);
    object-fit: cover;
}

img.left, img.right {
    width: 45%;
    min-width: 360px;
    object-fit: cover;
}

img.left {
    display: block;
    margin-left: 0px;
    margin-right: auto;
}

img.right {
    display: block;
    margin-left: auto;
    margin-right: 0px;
}

.timer {
    background: #eeeeee;
    margin: 16px;
    padding: 24px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.timer svg:first-of-type {
    margin-right: 32px;
}

::-webkit-scrollbar {
    margin-left: 48px;
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.url {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: auto;
    background: #eee;
    padding: 16px 24px 24px 18px;
    line-height: 125%;
    margin: 16px;
    border-left: 3px solid black;
}

.url::before {
    width: 100%;
    content: "Go exploring";
    display: block;
    font-weight: 600;
    line-height: 250%;
}

.url__link {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
}

.url__link p {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 125%;
    padding: 0;
}

.url svg:first-of-type {
    margin-bottom: auto;
    margin-right: 32px;
}

.url a {
    display: flex;
    width: fit-content;
    padding-left: 4px;
    color: #0088FF;
    text-decoration: none;
}

.code__line, .code__line * {
    display: flex;
    flex-direction: row;
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
    background: black;
    margin: 0px 16px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote__headshot {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 50%;
}

q {
    quotes: "“" "”" "‘" "’";
}

.quote__text {
    padding: 0px 64px;
    width: 480px;
    line-height: 200%;
    letter-spacing: 0.015em;
    font-style: italic;
}

.quote__cite {
    align-self: flex-end;
}