section.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 16px;
    padding: 16px 16px 24px;
    width: auto;

    background: #282C34;
    font-family: var(--body-font);
    line-height: 125%;
}

section.welcome svg {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    fill: #282C34;
    background: white;
}

section.welcome p {
    margin: 0;
    width: calc(100% - 96px);
}

section.welcome p:not(:first-of-type) {
    margin-left: 64px;
    margin-top: 16px;
}