section.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 16px;
    padding: 16px 16px 24px;
    width: auto;

    background: #3D4148;

    color: #eeeeee;
    font-family: var(--body-font);
    line-height: 125%;
}

section.welcome svg {
    border: 2px solid #F6F8A4;
    padding: 6px;
    width: 36px;
    height: 36px;

    border-radius: 50%;

    fill: #F6F8A4;
    background: #282C34;
}

section.welcome p {
    margin: 0;
    width: calc(100% - 96px);
}

section.welcome p:not(:first-of-type) {
    margin-left: 64px;
    margin-top: 16px;
}