/*layout*/
/*box model*/
/*visual*/
/*typography*/
/*misc*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--body-font);
}

h1 {
    color: #F6F8A4;
    font-weight: 300;
    font-size: 42px;
}

h2 {
    color: #CBEB98;
    font-weight: 400;
    font-size: 32px;
}

h3 {
    color: #A7DF8D;
    font-weight: 500;
    font-size: 24px;
}