.timer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 16px;
    padding: 16px;
    width: auto;

    background: #ffffff;

    color: black;
}

.timer svg {
    fill: black;
}

.timer svg:first-of-type {
    margin-right: 32px;
}