.timer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 16px;
    padding: 16px;
    width: auto;

    background: #3D4148;

    color: white;
}

.timer svg {
    fill: #F6F8A4;
    background: #282C34;

    border: 2px solid #F6F8A4;
    border-radius: 28px;
}

.timer svg:first-of-type {
    margin-right: 32px;
}