.code__line {
    display: flex;
    flex-direction: row;
    
    margin: 0px 16px;
    
    background: black;
    
    font-weight: 300;
}

.line__number {
    color: grey;
    user-select: none;
}

.line__expression {
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
    color: white;
}