.code__line, .code__line * {
    display: flex;
    flex-direction: row;
    
    margin: 0px 16px;
    
    background: black;
    
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
    font-weight: 300;
    color: white;
}