.url {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    border-left: 3px solid black;
    margin: 16px;
    padding: 16px 24px 24px 18px;
    width: auto;

    background: #eee;

    font-family: var(--body-font);
    line-height: 125%;
}

.url::before {
    display: block;

    width: 100%;

    content: "Go exploring";
    font-weight: 600;
    line-height: 250%;
}

.url__link {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: calc(100% - 96px);
}

.url__link:not(:first-of-type) {
    padding-left: 64px;
}

.url__link p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 4px 0;

    line-height: 125%;
}

.url svg:first-of-type {
    margin-bottom: auto;
    margin-right: 16px;
}

.url a {
    display: flex;

    padding-left: 4px;
    width: fit-content;

    color: #0088FF;
    text-decoration: none;
    overflow-wrap: anywhere;
}