p.note::before {
    content: "Please note: ";
    display: block;
    font-weight: 600;
    margin-left: -18px;
    line-height: 250%;
}

p.note {
    background: #eee;
    padding: 16px 36px 24px 36px;
    line-height: 125%;
    margin: 32px;
    width: auto;
    border-left: 3px solid black;
}