.App {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background: white;
}

.app-nav {
  background: white;
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.app-nav__button {
  background: black;
  color: aliceblue;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-transform: uppercase;

  border: 0;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}