.App * {
  user-select: none;
}

.App {
  display: flex;
  flex-direction: column;

  position: relative;
  width: 100vw;
  height: 100vh;

  background: #282C34;
  color: #E8E8ED;
}

.app-top-nav {
  height: 32px;
}

.app-bottom-nav {
  background: #282C34;
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-nav__home-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  margin: 8px;
  padding: 8px;
  height: 42px;
  width: 42px;

  background: #282C34;
  border: 2px solid #F6F8A4;
  border-radius: 50%;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  
  cursor: pointer;
  
  fill: #F6F8A4;
}

.app-nav__home-button:hover,  .app-nav__button:hover{
  fill: #282C34;
  background: #F6F8A4;
  transition: all .2s;
}

.app-nav__button:hover svg {
  fill: #282C34;
}

.app-nav__home-button:active {
  background: black;
}

.app-nav__button {
  display: flex;

  background: #282C34;
  border: 2px solid #F6F8A4;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-transform: uppercase;

  border-radius: 50%;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}

.app-nav__button svg {
  fill: #F6F8A4;
}

.app-nav__progress {
  width: 75%;
}

progress {
  height: 8px;

  background-color: #878787;

  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
}

progress::-webkit-progress-bar {
  background-color: #eeeeee;
  border-radius: 8px;
}

progress::-webkit-progress-value {
  background-color: #878787;
  border-radius: 8px;
}