.mcq {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.mcq__question {
    width: calc(100% - 32px);

    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.mcq__form {
    width: 100%;
}

.mcq__option {
    display: flex;
    align-items: center;

    height: 36px;
    margin: 8px;

    border-radius: 8px;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.mcq__option:hover {
    background: #ddd;
}

.mcq__option input {
    margin: 0 8px;
    width: 24px;
    height: 24px;

    cursor: pointer;
}

.mcq__option label {
    cursor: pointer;
}

.mcq__feedback--hidden {
    visibility: hidden;
}

.mcq__feedback--visible {
    visibility: visible;
}

#mcq__feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin: 16px;
    padding: 24px;
    width: calc(100% - 80px);

    background: #eeeeee;
    
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.mcq__submit {    
    border: 0;
    margin: 8px;
    padding: 8px;
    width: 64px;
    
    background: black;

    color: aliceblue;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    border-radius: 4px;
    cursor: pointer;
}