.mcq {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.mcq__question {
    width: calc(100% - 32px);

    font-family: var(--body-font);
}

.mcq__form {
    width: 100%;
}

.mcq__option {
    display: flex;
    align-items: center;

    height: 36px;
    margin: 8px;

    border-radius: 8px;

    font-family: var(--body-font);
}

.mcq__option:hover {
    background: #F6F8A4;
    color: #282C34;
}

.mcq__option input {
    margin: 0 8px;
    width: 24px;
    height: 24px;

    cursor: pointer;
}

.mcq__option label {
    cursor: pointer;
}

.mcq__feedback--hidden {
    display: none;
}

.mcq__feedback--visible {
    display: flex;
}

#mcq__feedback {
    flex-direction: row;
    align-items: center;
    
    margin: 16px;
    padding: 24px;
    width: calc(100% - 80px);

    background: #3D4148;
    
    color: #FFF;
    font-family: var(--body-font);
}

.mcq__submit {    
    border: 0;
    margin: 8px;
    padding: 8px;
    width: 64px;
    
    background: black;

    color: white;
    font-family: var(--body-font);
    text-transform: uppercase;

    border-radius: 4px;
    cursor: pointer;
}

.mcq__feedback__icon {
    width: 36px;
    height: 36px;
}